*{

}

.App{
  background:#92bde7;
  color:#485e74;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
  box-sizing: border-box;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;margin-bottom: 10%;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.list-info{
  background:lightblue;

}
.list-info-list{
display: grid;
text-align: center;
grid-gap:20px;
grid-template-columns: 1fr;
}


.list{
  background:#f9feff;
  text-align: center;

}
.list-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
.list-grid-one{
    text-align: center;
}

.contact p{
  margin:0;
}

.add-button{
  width: 25%;
  padding:1em;
  border:1px solid #c9e6ff;
  margin-top: 15px;
}

input{
  width: 50%;
  height: 30px;
  font-size: 20px;
}

.add-button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.update-button{
  background: lightskyblue;
  padding:1em;
  border:1px solid #c9e6ff;
  width: 25%;

}
.delete-button{
  background: lightblue;
  padding:1em;
  border:1px solid #c9e6ff;
  width:25%;

}

.add-button:hover,.add-button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}
.update-button:hover,.add-button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

.delete-button:hover,.add-button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}


/* LARGE SCREENS */
@media(min-width:700px){


  .wrapper > *{
    padding:2em;
  }

}

@media(max-width: 900px){
  .list-grid{
    display: grid;
    grid-template-columns: 1fr;

  }
}